<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Royaltie - Beacon status changed</title>
    <style media="all" type="text/css">
        @media only screen and (max-width: 620px) {
            table[class=body] h1,
            table[class=body] h2,
            table[class=body] h3,
            table[class=body] h4 {
                font-weight: 600 !important;
            }
            table[class=body] h1 {
                font-size: 22px !important;
            }
            table[class=body] h2 {
                font-size: 18px !important;
            }
            table[class=body] h3 {
                font-size: 16px !important;
            }
            table[class=body] .content,
            table[class=body] .wrapper {
                padding: 10px !important;
            }
            table[class=body] .container {
                padding: 0 !important;
                width: 100% !important;
            }
            table[class=body] .btn table,
            table[class=body] .btn a {
                width: 100% !important;
            }
        }
    </style>
</head>

<body style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; -webkit-text-size-adjust: 100%; line-height: 1.6em; -webkit-font-smoothing: antialiased; padding: 0; -ms-text-size-adjust: 100%; background-color: #f6f6f6; height: 100% !important; width: 100% !important;">

<table class="body" style="box-sizing: border-box; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6; border-collapse: separate !important;" width="100%" bgcolor="#f6f6f6">
    <tr>
        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top"></td>
        <td class="container" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; Margin: 0 auto !important;" width="580" valign="top">
            <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">
                <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;"><%= data.subject %></span>
                <table class="main" style="box-sizing: border-box; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border: 1px solid #e9e9e9; border-radius: 3px; border-collapse: separate !important;" width="100%">
                    <tr>
                        <td class="wrapper" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; padding: 30px;" valign="top">
                            <table style="box-sizing: border-box; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-collapse: separate !important;" width="100%">
                                <tr>
                                    <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                                        <h1 class="align-center" style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; line-height: 1.4em; margin: 0; margin-bottom: 30px; font-size: 38px; text-transform: capitalize; text-align: center; color: #111111 !important;">Royaltie</h1>

                                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 10px;">Hi <%= data.userEmail %>,</p>


                                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: black;">Your beacon <%= data.beaconId %> status has been to <%= data.beaconStatus %></p>
                                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: black;">If you have any question, please contact our support team.</p>

                                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 0px; color: black;">Thanks, have a lovely day.</p>
                                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: black;">-- Your Royaltie team</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

        </td>
        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top"></td>
    </tr>
</table>

</body>
</html>
